body {
    background-color: lightblue;
    color: green;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;

}